.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 15px 15px 0 40px;
  display: flex;
  flex-direction: column;
  height: auto;
  flex-basis: 710px;
  background: #181818;
  border-radius: 20px;

  label {
    margin-bottom: 2rem;
  }

  span {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
  }
}

.header {
  position: relative;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  cursor: default;
  user-select: none;
  margin-bottom: 2rem;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  align-self: flex-end;
  background: black;
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
  user-select: none;
  cursor: pointer;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px 32px;
  align-items: center;
}

.formInput {
  border: none;
  outline: none;
  border-radius: 30px;
  background: #181818;
  color: #fff;
  padding: 0 5px;
  width: 100%;
}

.inputBorder {
  display: inline-flex;
  background: linear-gradient(to right, #3e1f47, #144552);
  padding: 2px;
  border-radius: 30px;
}

.formBtns {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 15px;
}

.submitBtn {
  width: 140px;
  height: 50px;
  background: linear-gradient(90deg, #272640 0%, #3e1f47 100%);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 35%);
  border-radius: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.removeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg, #272640 0%, #3e1f47 100%);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 35%);
  width: 117px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  user-select: none;
  cursor: pointer;
  border-radius: 30px;
}

.cancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 50px;
  background: linear-gradient(90deg, #272640 0%, #3e1f47 100%);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 35%);
  border-radius: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  user-select: none;
  cursor: pointer;
}
