@import "styles/fonts/fonts.css";

.active {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 70%);
  z-index: 1;
  flex-direction: column;
  color: #fff;
}

.inactive {
  opacity: 0;
  display: none;
}

.close {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: yellow;
  cursor: pointer;
  user-select: none;
  color: black !important;
}
