.container {
  color: white;
  line-height: 2rem;
  background-color: #3d3d3d;
  padding: 0.7rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 100px;
  text-align: center;
}

.clickable {
  transition: all 150ms;

  &:hover,
  &:active {
    background-color: #696969;
  }

  &:active {
    transform: scale(0.95);
  }
}
