.wrapper {
  display: flex;
  color: #fff;
  align-self: flex-start;
  user-select: none;
}

.text {
  font-size: 16px;
  margin-left: 15px;

  @media (max-width: 1400px) {
    font-size: 14px;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  top: -3px;
  width: 30px;
  height: 30px;
  background: #181818;
  cursor: pointer;

  @media (max-width: 1400px) {
    width: 24px;
    height: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 2px;
    background: linear-gradient(to right, #3e1f47, #144552);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;

    @media (max-width: 1400px) {
      border-radius: 6px;
    }

    @media (max-width: 992px) {
      padding: 1px;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../public/img/check.png");
    background-size: contain;
    background-size: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.1s ease-in;

    @media (max-width: 1400px) {
      width: 20px;
      height: 20px;
    }
  }
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;

  &:checked + .checkbox::before {
    transform: translate(-50%, -50%) scale(1) !important;
  }
}
