.header {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 1.6rem;
  padding: 1rem;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color: var(--dark-bg-color);
  z-index: 1;

  * {
    text-align: center;
  }
}
