@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("centurygothic.ttf");
}

@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 600;
  src: url("centurygothic_bold.ttf");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url("Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  src: url("Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  src: url("Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  src: url("Raleway-Light.ttf");
}
