@import "styles/fonts/fonts.css";

.orderContainer {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
}

.orderRow {
  display: flex;
  height: 60px;
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px 0 0;
  align-items: center;
  background: #e3e3e3;
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.orderRow span {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #181818;
}

.orderInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 1200px;
}

.openOrder {
  background: linear-gradient(270deg, #6092ae 0%, #936dc4 100%) !important;
}

.arrowImg {
  transition: all 0.2s ease-in-out;
}

.arrowUp {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

/* Анимации не работают без жестко заданного max-height */
.orderDetailsContainer {
  margin-bottom: 30px;
  padding: 0 40px;
}

.orderDetailsHide {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 0 40px;
}

.orderDetails {
  max-height: 100%;
  background: linear-gradient(270deg, #6092ae 0%, #936dc4 100%);
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 30px;
  margin-top: 10px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.orderTable,
.dishesTable {
  width: 100%;
  overflow-y: scroll;
}

.orderDetails td {
  text-align: center;
  vertical-align: center;
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
}

.orderTableHeads td {
  font-size: 18px;
  color: #fff;
  height: 50px;
}

.dishRow td {
  padding: 0.8rem;
  font-size: 20px;
  color: #181818;
  height: 100%;
}

.aboutCell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutBtn {
  width: 67px;
  height: 32px;
  background: #181818;
  border-radius: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.aboutBtn span {
  vertical-align: center;
  align-items: center;
  line-height: 15px;
  font-size: 30px;
  letter-spacing: 2px;
}
