.container {
  width: 100%;

  & > span {
    margin-left: 3rem;
  }
}

.body {
  border: white 1px solid;
  border-radius: 3rem;
  padding: 4rem 1.8rem;
  min-height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
