.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  background-color: #181818;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  padding: 22px 24px 0;
  margin-bottom: 22px;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  min-height: 6rem;
  min-width: 6rem;
  background: linear-gradient(128.77deg, #0b525b 1.53%, #3e1f47 84.29%);
  box-shadow: inset 0 1.82px 1.82px rgb(0 0 0 / 25%);
  border-radius: 50%;
  position: relative;
  z-index: 0;
  transition: all 150ms;

  * {
    position: relative;
  }

  &:active {
    transform: scale(0.95);
  }
}

.daySelect_childName {
  color: white;
  font-size: 20px;
  max-width: 300px;
  user-select: none;
  text-align: center;
}

.daySelect_daysContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  a {
    width: 100%;
  }
}

.daySelect_dayOfTheWeek {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4.5rem 9.6rem;
  background: linear-gradient(to right, #3e1f47, #144552);
  border-radius: 30px;
  margin-bottom: 28px;
  cursor: pointer;
  user-select: none;

  span {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
