@import "./fonts/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #fff #312244;
}

:root {
  --dark-bg-color: #181818;
  --lr-gradient-1: linear-gradient(to right, #3e1f47, #144552);
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/

::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #968796;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #312244;
}

:not(body)::-webkit-scrollbar-track {
  border: 1px solid #968796;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  width: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background: #312244;
}

.clickable {
  cursor: pointer;
}
