@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-size: 1.6rem;
  box-sizing: border-box;
}

:root {
  --dark-bg-color: #181818;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/