@import './fonts/fonts.css';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 400px;
    background-color: #181818;
}

/*Smartphones*/
@media (max-width: 767px) {
    .schoolName {
        width: 100vw !important;
    }

    .form {
        height: 100vh;
    }

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.schoolName {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #3E1F47, #144552);
    height: 100px;
    width: 400px;
    margin: 24px 0 90px;
}

.schoolTitle {
    color: #fff;
    font-family: 'Century Gothic Bold';
    font-size: 40px;
    user-select: none;
}

.label {
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: 20px;
    user-select: none;  
}

.label p {
    margin: 0 0 25px 35px;
}

.label input {
    width: 375px;
    height: 50px;
    padding-left: 33px;
    background-color: #181818;
    border-radius: 20px;
    border: none;
    outline: none;
}

.inputBorder {
    display: inline-flex;
    background: linear-gradient(to right, #3E1F47, #144552);
    padding: 2px;
    border-radius: 20px;
}

.labelRememberMe {
    margin: 0 0 50px 13px;
    display: flex;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: 18px;
    align-self: flex-start;
    user-select: none;  
}

.checkbox { 
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.customCheckbox {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    top: -3px;
    width: 30px;
    height: 30px;
    background: #181818;
    border: 1px solid black;
    border-radius: 8px;
    border-image: linear-gradient(to right, #3E1F47, #144552);
    border-image-slice: 1;
    cursor: pointer;
}

.customCheckbox::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../public/img/check.png");
    background-size: contain;
    background-size: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.1s ease-in;
}

.checkbox:checked + .customCheckbox::before {
    transform: translate(-50%, -50%) scale(1) !important;
}
    
.logInButton {
    align-self: flex-end;
    margin-right: 13px;
    width: 150px;
    height: 50px;
    background: linear-gradient(to right, #3E1F47, #144552);
    border-radius: 25px;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: 20px;
}