.bg {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  background-color: var(--dark-bg-color);
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  padding-bottom: 1.6rem;
}

.header {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 1.6rem;
  padding: 1rem;
  & * {
    text-align: center;
  }
}

.saveBtn {
  background-color: #4d194d;
  border-radius: 3rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.4rem;
}

.body {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.dishSection {
  width: 100%;
  & > span {
    margin-left: 3rem;
  }
}

.dishContainer {
  border: white 1px solid;
  border-radius: 3rem;
  padding: 4rem 1.8rem;
  min-height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.btnGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actionBtn {
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.deleteBtn {
  background: linear-gradient(90deg, #272640 0%, #3e1f47 100%);
}

.editBtn {
  background: linear-gradient(270deg, #272640 0%, #144552 100%);
}
