.saveBtn {
  background-color: #4d194d;
  border-radius: 3rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.4rem;
}

.body {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.btnGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actionBtn {
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.deleteBtn {
  background: linear-gradient(90deg, #272640 0%, #3e1f47 100%);
}

.editBtn {
  background: linear-gradient(270deg, #272640 0%, #144552 100%);
}
