.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #1b3a4b 0%, #3e1f47 100%);
  display: flex;
  justify-content: center;
  overflow: hidden;

  &Inner {
    height: inherit;
    flex-basis: 1300px;
    display: flex;
    flex-direction: column;
    background: #181818;
    border-radius: 45px;
    padding: 30px 45px;
    overflow: hidden;

    @media (max-width: 450px) {
      padding: 20px 24px;
    }
  }
}