.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: auto;
  height: 100vh;
  height: 100svh;
  overflow-y: hidden;
  background: linear-gradient(0deg, #1b3a4b 0%, #3e1f47 100%);
}
